<!DOCTYPE html>
<html lang="en">

<%- include("partials/head.ejs") %>

    <body>

        <%- include("partials/header.ejs") %>
        <main class="main-profile">

            <section class="profile-section">
                <p class="info-user-text"><strong>Bienvenida/o:</strong></p>
                <p class="info-user-text"><%= usuario.nombre %></p>
                <br>
                <p class="info-user-text"><strong>Ingresaste con el email:</strong></p>
                <p class="info-user-text"><%= usuario.email %></p>
                <br>
                <p class="info-user-text"><strong>Perteneces a el grupo:</strong></p>
                <p class="info-user-text"><%= usuario.gerencias.nombre %></p>
                <br>
                <p> <strong>¿Quieres saber quien sera tu amigo secreto?</strong> </p>
                <div class="div-button">
                    <button class="btn button" id="btn">OPRIME AQUI</button>
                </div>
            <div class="contenedorP"> 
            <% for( let i=0; i < usuarios.length; i++ ) { %>
                <p class="nombres" hidden>
                    <%= usuarios[i].nombre %>
                </p>
            <% } %>
                <p class="amigoSecreto"></p>
            </div>
            </section>    
                <% if (usuario.rolUsuario===1) { %>
                    <div class="admin-option">
                        <h3>Establecer fechas</h3>
                        <form action="/users/perfil" method="post">
                            <input type="text" hidden name="id" value=<%=usuario.gerencias.id %>>
                            <div>
                                <label for="">Fecha de endulzada:</label>
                                <input class="fecha_endulzada" type="date" name="fecha_endulzada">
                            </div>
                            <div>
                                <label for="">Fecha de descubrimiento:</label>
                                <input class="fecha_descubrimiento" type="date" name="fecha_descubrimiento">
                            </div>
                            <div class="div-button">
                                <input class="btn" id="btn" type="submit" value="Guardar">
                            </div>
                        </form>
                    </div>
                <% } %>
        </main>    
            <script src="/js/perfil.js"></script>
    </body>

</html>