<!DOCTYPE html>
<html lang="en">

<%- include("partials/head.ejs") %>

    <body>

        <%- include("partials/header.ejs") %>

            <section>
                <p>Bienvenido : <span class="nombreUsuario">
                        <%= usuario.nombre %>
                    </span> </p>
                <p>Tu email: <%= usuario.email %>
                </p>
                <button class="btn">OPRIME AQUI</button>
                <div class="contenedorP"></div>
            </section>
            <% for( let i=0; i < usuarios.length; i++ ) { %>
                <% if (usuarios[i].nombre==usuario.nombre) { %>
                    <p class="error" hidden> Intentalo de nuevo </p>
                    <% } else { %>
                        <p class="nombre" hidden><%= usuarios[i].nombre %></p>
                        <p class="nombres" hidden>
                            Tu amigo secreto es: <b>
                            <%= usuarios[i].nombre %></b>
                            <b>Para darle su detalle ten en cuenta lo siguiente:</b>
                            <b>1. Gustos :</b>
                            <%= usuarios[i].gustos %>
                            <b>2. Disgustos :</b>
                            <%= usuarios[i].disgusto %>
                            <b>3. Alegrias :</b>
                            <%= usuarios[i].alegrias %>
                        </p>
                        <% } %>
                            <% } %>
                            <p class="amigoSecreto"></p>
                                <form action="/users/perfil" class="form" method="post">
                                    <input type="text" hidden name="id" value=<%=usuario.id %>>
                                    <input type="submit" class="inputForm" value="enviar">
                                </form>
                                <p>
                                    <%= usuario.gerencias.nombre %>
                                </p>
                                <% if (usuario.rolUsuario===1) { %>

                                    <a href="/users/admin">Opciones admin</a>
                                    
                                    <% } %>
                                        <script src="/js/perfil.js"></script>
    </body>

</html>